@if (items.length > 0) {
<div class="dashboard-container">
  @for (item of items; track item.id; let i = $index) {
    <div class="dashboard-card" [ngClass]="['type-' + item.type, selectedItemId === item.id ? 'is-selected' : '']" (click)="displayItemDetails(item)">
      <div class="dashboard-card-title">
        <h2>{{ item.title }}</h2>
        @if (item.isFavorite) {
          <i class="bi bi-star-fill"></i>
        } 
        @else {
          <i class="bi bi-star"></i>
        }
      </div>
      @if (item.type == 'todo' && item.todoContent && item.todoContent.length > 0) {
        <div class="dashboard-card-content">
            @for (subItem of item.todoContent; track subItem.id) {
              <div class="dashboard-card-content-todo-item">
                <span class="dashboard-card-content-todo-item-status">
                  @if (subItem.config?.status == 'done') {
                    <i class="bi bi-check2"></i>
                  }
                  @else {
                    <i class="bi bi-square"></i>
                  }
                </span>
                <span [class.is-done]="subItem.config?.status == 'done'">{{ subItem.title }}</span>
                <span class="dashboard-card-content-todo-item-config">
                  @if (subItem.config?.recurrenceType != 'none') {
                    <i class="bi bi-arrow-repeat"></i>
                  }
                  @if (subItem.config?.alertEnabled) {
                    <i class="bi bi-bell"></i>
                  }
                </span>
              </div>
            }
        </div>
      }
      @else if (item.type != 'todo' && item.content) {
        <div class="dashboard-card-content">
          {{ item.content }}
        </div>
      }

      <div class="dashboard-card-tag">
        @for (tag of item.tags; track tag) {
          <span class="dashboard-card-tag-item">{{ tag }}</span>
        }
      </div>
    </div>
  }
</div>
} 
@else {
  <p>Loading...</p>
}
